.background__graphic-1{
    position: absolute;
    background-repeat: no-repeat;
    background-color:$color-gray-dark-3;
    -webkit-mask-image:  url(../img/icons/background.svg);
    mask-image:  url(../img/icons/background.svg);
    // background-image:  url(../img/icons/background.svg);
    height: 100.6rem;
    width: 42rem;
    z-index: -1;
 
}
.background__graphic-2{
    position: absolute;
    background-repeat: no-repeat;
    background-color:$color-gray-dark-3;
    -webkit-mask-image:  url(../img/icons/background-1.svg);
    mask-image:  url(../img/icons/background-1.svg);
    // background-image: url(../img/icons/background-1.svg);
    height: 100.6rem;
    width: 41.1rem;
    z-index: -2;
}
.background__graphic-3{
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-color:$color-gray-dark-3;
    -webkit-mask-image:  url(../img/icons/background-2.svg);
    mask-image:  url(../img/icons/background-2.svg);
    // background-image: url(../img/icons/background-1.svg);
    height: 64.3rem;
    width: 47.6rem;
    z-index: -3;
}
.background__graphic-4{
   
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-color:$color-gray-dark-3;
    -webkit-mask-image:  url(../img/icons/background-3.svg);
    mask-image:  url(../img/icons/background-3.svg);
    // background-image: url(../img/icons/background-1.svg);
    height: 63.3rem;
    width: 48.5rem;
    z-index: -4;
}
.background__graphic-6{
   
    position: absolute;
   left: 0;
   top: 380rem;
   background-repeat: no-repeat;
    background-color:$color-gray-dark-3;
    -webkit-mask-image:  url(../img/icons/background-4.svg);
    mask-image:  url(../img/icons/background-4.svg);
    // background-image: url(../img/icons/background-1.svg);
    height: 54.4rem;
    width: 56.2rem;
    z-index: -5;
}