.contact{


&__paragraph{
    font-size: 2.5rem;
}


   &__main{
    display: flex;
    @media only screen and (max-width:$bp-smallest){
        flex-direction: column;
    }
    

    }
    &__form{
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        flex: 0 0 38.37%;
        border: 1px solid #fff;
        padding: 3.6rem;
        box-shadow: 2px 2px 10px rgba(60, 114, 193, 0.3);
        z-index: 1000;
        border-radius: 8px;
        &__text{
            resize: none;
           
            
        }
        
      
        &--btn{
            border-radius: 8px !important; 
           
            align-self: flex-end;
            height: 4.2rem;
            padding: 1rem 3.7rem;
            text-align: center;
            @media only screen and (max-width:$bp-smallest){
                align-self: center;
                height: 4.2rem;
                padding: 1rem 3.7rem;
                
            }
        }
    }
    &__info{
        transform: translate(-2rem,5.5rem);
        height: 30rem;
        background-image: linear-gradient(89.65deg, $color-primary 0.26%, $color-primary-light 99.7%);
        border-radius: 8px;
        @media only screen and (max-width:$bp-smallest){
            // width: 80%;
            // transform: translate(12.5%,-10%);
            // margin-bottom: 2rem;
            // overflow: auto;
            display: none;
        }
       
        
        

        &--text{
            font-family: $font-primary;
        
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #FFFFFF;
            margin-left: 2rem;
            padding: 2rem;
            padding-bottom: 10rem;
          margin-top: 6.7rem;
          @media only screen and (max-width:$bp-smallest){
            // margin-left: 0;
            // margin-top: 6.5rem;
            display: none;
        }


        }
    }
   
   }
   .form-input{
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
   letter-spacing: 0.05rem;
   background-color: #ECEBF7; 
   color: $color-secondary;
   border-radius: 8px;
   padding: 1.3rem 2rem;
  border-bottom:  2px solid transparent ;
  border-top:  2px solid transparent ;
  border-right:  2px solid transparent ;
   margin-bottom: 1rem;
   width: 100%;
   display: block;

   z-index: 1000;
   @media only screen and (max-width:$bp-small){
    font-size: 2.5rem;
}

   &:focus{
   outline: none;
   box-shadow: 0 1rem 2rem rgba(60, 114, 193, 0.2);
   border-bottom: 2px solid $color-primary;
   border-top: 2px solid $color-primary;
   border-right: 2px solid $color-primary;


   }
   &:focus:valid{
    border-bottom: 2px solid lightgreen;
    border-top: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
   }
   &::-webkit-input-placeholder{
 color: $color-secondary;
   }
   }
   .form-label{

    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: $color-primary-light;
    display: block;
   }
   .form-input:placeholder-shown + .form-label{
    transform: translateY(4rem);
    opacity: 0;
    visibility: hidden;
  

   }
