
.section-2{
    &__main{
        display: flex;
        flex-direction:row ;
        @media only screen and (max-width:$bp-smallest){
           flex-direction: column;
        }
    }
    &__left{
        flex: 0 0 27%;
        
        background-image: linear-gradient(180deg, #00B9FF -19.14%, #0068B5 131.07%);
        border-radius: 6px;
       
        display:flex ;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        @media only screen and (max-width:$bp-smallest){
            font-size: 3rem;
            flex: none;
            display: block;
            text-align:center;
           padding: 2rem 2rem;
           width: 100%;
         }

    }
  
}
.line-break{
    display: block;
    @media only screen and (max-width:$bp-smallest){
        display: inline-block;
        text-align: center;
        
     }
   
}