.section-1{
   
   
   
    &__trend{
        display: flex;
        width: 100%;
        flex-direction: row;
        @media only screen and (max-width:$bp-small){
            flex-direction: column;

        }
        &--left{
            display: flex;
            flex-direction: column;
          
           
        }
        &--right{
            display: flex;
            flex-direction: column;
            flex: 0 0 50%;
        }
        &--img_text{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // justify-content: center;
            &--2{
                margin-bottom: 6.5rem;
            }
        }
        &--pic-1{
            max-width: 87%;
           height: 100%;
           @media only screen and (max-width:$bp-small){
            width: 50%;
            margin: auto;
            
        }
        }
        &--pic-2{
            width: 100%;
            height: auto;
            @media only screen and (max-width:$bp-small){
                width: 50%;
                margin: auto;
                
                margin-bottom: 5rem;
                
            }
        }
        &--pic-3{
            width: 100%;
            height: auto;
            @media only screen and (max-width:$bp-small){
                width: 50%;
                margin: auto;
                
            }
        }
    }
}