.section-3{

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    &__btn{
   display: flex;
   justify-content: center;
   align-items: center;
 
  
    }
    &__button{
        padding: 3rem 12rem !important;
       
       }
    
}