// telco
.telco{
    &__paragraph{
        &-1{
            @media only screen and (max-width:$bp-smallest){
                font-size: 50rem;
               }
        }
        @media only screen and (max-width:$bp-smallest){
           font-size: 2.5rem;
          }
    }
    &__main{
        display: flex;
        @media only screen and (max-width:$bp-smallest){
            flex-direction: column;
            align-items: center;
          }
    }
    &__info{
        padding-right: 10rem;
        @media only screen and (max-width:$bp-smallest){
            flex: 0 0 0;
            margin: 2.5rem 0;
          }
        &--item{
            display: flex;    
        }
    }
    &__center{
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;

    }
   
    &__text{
        padding: 0 2.2rem;
    }
    &__heading-x{
        font-family: $font-primary;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.8rem;
        text-align: justify;
        color: $color-gray-dark-2;
        @media only screen and (max-width:$bp-smallest){
            font-size: 2.5rem;
          }
    }
    &__pic{
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width:$bp-smallest){
            flex: 0 0 0;
            width: 70%;
            margin-bottom: 2rem;
          }

    }
    &__img{
        width: 60%;
        margin-bottom: 1rem;
        @media only screen and (max-width:$bp-smallest){
            width: 100%;
            margin-bottom: 3rem;
          }
    }
   
}